.footer{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
      background-color: gray;
      color: white;
      justify-content: space-evenly;
}